<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wyw.dao.FileCompanyMapper">
    <resultMap id="fileCompanyMap" type="com.wyw.pojo.FileCompany">
        <id column="FFILEID" property="fFileID"/>
        <result column="FFILENAME" property="fFileName"/>
        <result column="FFILESTOREPATH" property="fFileStorePath"/>
        <result column="FFILECID" property="fFileCid"/>
        <result column="FFILEFLAG" property="fFileFlag"/>
    </resultMap>

    <insert id="addFileCompany" parameterType="FileCompany">
        insert into ks.filecompany (FFILEID, FFILENAME, FFILESTOREPATH, FFILECID)
        values (#{fFileID},#{fFileName},#{fFileStorePath},#{fFileCid})
    </insert>

    <select id="fetchFileCompanyList" parameterType="map" resultMap="fileCompanyMap">
        select FFILEID, FFILENAME, FFILESTOREPATH, FFILECID, FFILEFLAG
        from ks.filecompany
        where FFILEFLAG=0
        <if test="fFileID != null and fFileID!= '' ">and FFILEID=#{fFileID}</if>
        <if test="fFileName !=null and fFileName!= ''  ">and FFILENAME=#{fFileName}</if>
        <if test="fFileStorePath != null and fFileStorePath != '' "> and FFILESTOREPATH=#{fFileStorePath}</if>
        <if test="fFileCid != null and fFileCid != '' "> and FFILECID=#{fFileCid}</if>
        <if test="fFileFlag != null and fFileFlag != '' "> and FFILEFLAG=#{fFileFlag}</if>
    </select>



    <update id="updateFileCompany" parameterType="FileCompany">
        update ks.filecompany
        <set>
            <if test="fFileName !=null and fFileName!= ''  "> FFILENAME = #{fFileName},</if>
            <if test="fFileStorePath != null and fFileStorePath != '' ">  FFILESTOREPATH=#{fFileStorePath},</if>
            <if test="fFileFlag != null and fFileFlag != '' ">  FFILEFLAG=#{fFileFlag},</if>
        </set>
        <where>
            <if test="fFileID != null and fFileID!= '' ">FFILEID=#{fFileID}</if>
            <if test="fFileCid != null and fFileCid != '' "> and FFILECID=#{fFileCid}</if>
        </where>
    </update>

    <select id="isRepeatedCompanyFile" parameterType="Long" resultMap="fileCompanyMap">
        select FFILEID, FFILENAME, FFILESTOREPATH, FFILECID
        from ks.filecompany
        where FFILECID=#{fFileCid}
    </select>


</mapper>