<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>帮帮网 — 精选事务</title>
<link th:href="@{/css/select2.css}" rel="stylesheet"/>
<link rel="stylesheet" th:href="@{/css/style.css}" />
<script type="text/javascript" th:src="@{/js/jquery-1.7.1.min.js}"></script>
<script type="text/javascript" th:src="@{/js/search/area.js}"></script>
<script type="text/javascript" th:src="@{/js/search/location.js}"></script>
<script type="text/javascript" th:src="@{/js/search/select2.js}"></script>
<script type="text/javascript" th:src="@{/js/search/select2_locale_zh-CN.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.touchSlider.js}"></script>
<script type="text/javascript" th:src="@{/js/js.js}"></script>
<script type="text/javascript" th:src="@{/js/ks-switch.pack.js}"></script>


</head>

<body class="bft_bg">
<!-- top内容开始 -->
<div th:replace="~{commons/common::top}" ></div>
<!-- top内容结束 -->

<div class="center_blank"></div>

<!-- 内容开始 -->
<div class="nr">
    <!-- 搜索内容开始 -->
<!--    <form  th:action="@{'/PartTimeJob/fetchAllPartTimeJob/'+${allPartTimeJobsPageInfo.pages}+'/'+${session.partTimeJobSearchInfo}    }">-->
        <form  th:action="@{'/PartTimeJob/fetchAllPartTimeJob/'+${allPartTimeJobsPageInfo.pageNum}    }">
        <div class="search" style="margin: auto">
            <div class="search_blank"></div>
            <div class="search_c">
<!--                <input class="s_t" style="width:690px; height:17px; padding:8px; font-size:14px; color:#b8b8b8; letter-spacing:2px; "-->
<!--                                         th:onblur="if(this.value==''){this.value='请输入职位名、公司名等关键词';this.style.color='#aaa'}"-->
<!--                                         th:onfocus="if(this.value=='请输入职位名、公司名等关键词'){this.value='';this.style.color='#666'}"-->
<!--                                         value="请输入职位名、公司名等关键词" th:name="pagePartTimeJobSearchInfo" /></div>-->
                <input class="s_t" style="width:690px; height:17px; padding:8px; font-size:14px; color:#b8b8b8; letter-spacing:2px; "
                       placeholder="请输入职位名、公司名等关键词" th:name="pagePartTimeJobSearchInfo" /></div>
            <div class="search_btn">
                <button type="submit">
                <img th:src="@{/images/search_btn.jpg}" /></button>
            </div>
        </div>
    </form>
    <!-- 搜索内容结束 -->
          <div class="bft_f" >
          	<div class="bft_f_1">
            	<ul>
                	<li>城市</li>
                    <li>岗位名</li>
                    <li>报 酬</li>
                    <li>学历要求</li>
                    <li ></li>
                </ul>
            </div>
            <div class="bft_f_2" th:each="allPartTimeJob:${allPartTimeJobs}">
            	<ul>
                	<li><span th:text="${allPartTimeJob.get('cAddress')}"></span></li>
                    <li ><a th:href="@{'/toZzyPage/'+${allPartTimeJob.get('pId')}}">[[${allPartTimeJob.get('pName')}]]</a></li>
                    <li th:text="${allPartTimeJob.get('pSalary')}+'元'"></li>
                    <li th:text="${allPartTimeJob.get('pEducationalDegree')}"></li>
                    <li th:if="${session.loginKind  eq '学生'}"><a th:href="@{'/PartTimeJob/fetchSpcPartTimeJob/'+${allPartTimeJob.get('pId')}}"><img th:src="@{/images/shenqing.jpg}" /></a></li>
                </ul>
            </div>
<!--            <div class="bft_f_2">-->
<!--            	<ul>-->
<!--                	<li><span>灵宝市区</span></li>-->
<!--                    <li>移动互联网销售代表</li>-->
<!--                    <li>40元/小时</li>-->
<!--                    <li>安装机柜内网络配线架和110配线架</li>-->
<!--                    <li><a href="zzy.html"><img src="images/shenqing.jpg" /></a></li>-->
<!--                </ul>-->
<!--            </div>-->
<!--            <div class="bft_f_2">-->
<!--            	<ul>-->
<!--                	<li><span>西站</span></li>-->
<!--                    <li>八达企业管理顾问有限公司招聘业务员</li>-->
<!--                    <li>150元/天</li>-->
<!--                    <li>安装电话和网络模块</li>-->
<!--                    <li><a href="zzy.html"><img src="images/shenqing.jpg" /></a></li>-->
<!--                </ul>-->
<!--            </div>-->
<!--            <div class="bft_f_2">-->
<!--            	<ul>-->
<!--                	<li><span>卢氏</span></li>-->
<!--                    <li>弱电工人</li>-->
<!--                    <li>120元/天</li>-->
<!--                    <li>新装修办公楼内桥架管内敷设线路</li>-->
<!--                    <li><a href="zzy.html"><img src="images/shenqing.jpg" /></a></li>-->
<!--                </ul>-->
<!--            </div>-->
<!--            <div class="bft_f_2">-->
<!--            	<ul>-->
<!--                	<li><span>渑池</span></li>-->
<!--                    <li>电脑维修工程师电脑技术员</li>-->
<!--                    <li>200元/天</li>-->
<!--                    <li>熟练操作电脑，熟悉网络</li>-->
<!--                    <li><a href="zzy.html"><img src="images/shenqing.jpg" /></a></li>-->
<!--                </ul>-->
<!--            </div>-->
<!--            <div class="bft_f_2">-->
<!--            	<ul>-->
<!--                	<li><span>义马</span></li>-->
<!--                    <li>兼职专业苹果电脑系统维护</li>-->
<!--                    <li>50/小时</li>-->
<!--                    <li>安装机柜内网络配线架和110配线架</li>-->
<!--                    <li><a href="zzy.html"><img src="images/shenqing.jpg" /></a></li>-->
<!--                </ul>-->
<!--            </div>-->
<!--            <div class="bft_f_2">-->
<!--            	<ul>-->
<!--                	<li><span>三门峡市区</span></li>-->
<!--                    <li>高薪招聘广告业务员</li>-->
<!--                    <li>200元/天</li>-->
<!--                    <li>熟练操作电脑，熟悉网络</li>-->
<!--                    <li><a href="zzy.html"><img src="images/shenqing.jpg" /></a></li>-->
<!--                </ul>-->
<!--            </div>-->
<!--            <div class="bft_f_2">-->
<!--            	<ul>-->
<!--                	<li><span>灵宝市区</span></li>-->
<!--                    <li>移动互联网销售代表</li>-->
<!--                    <li>40元/小时</li>-->
<!--                    <li>安装机柜内网络配线架和110配线架</li>-->
<!--                    <li><a href="zzy.html"><img src="images/shenqing.jpg" /></a></li>-->
<!--                </ul>-->
<!--            </div>-->
<!--            <div class="bft_f_2">-->
<!--            	<ul>-->
<!--                	<li><span>西站</span></li>-->
<!--                    <li>八达企业管理顾问有限公司招聘业务员</li>-->
<!--                    <li>150元/天</li>-->
<!--                    <li>安装电话和网络模块</li>-->
<!--                    <li><a href="zzy.html"><img src="images/shenqing.jpg" /></a></li>-->
<!--                </ul>-->
<!--            </div>-->
<!--            <div class="bft_f_2">-->
<!--            	<ul>-->
<!--                	<li><span>卢氏</span></li>-->
<!--                    <li>弱电工人</li>-->
<!--                    <li>120元/天</li>-->
<!--                    <li>新装修办公楼内桥架管内敷设线路</li>-->
<!--                    <li><a href="zzy.html"><img src="images/shenqing.jpg" /></a></li>-->
<!--                </ul>-->
<!--            </div>-->
<!--            <div class="bft_f_2">-->
<!--            	<ul>-->
<!--                	<li><span>渑池</span></li>-->
<!--                    <li>电脑维修工程师电脑技术员</li>-->
<!--                    <li>200元/天</li>-->
<!--                    <li>熟练操作电脑，熟悉网络</li>-->
<!--                    <li><a href="zzy.html"><img src="images/shenqing.jpg" /></a></li>-->
<!--                </ul>-->
<!--            </div>-->
<!--            <div class="bft_f_2">-->
<!--            	<ul>-->
<!--                	<li><span>义马</span></li>-->
<!--                    <li>兼职专业苹果电脑系统维护</li>-->
<!--                    <li>50/小时</li>-->
<!--                    <li>安装机柜内网络配线架和110配线架</li>-->
<!--                    <li><a href="zzy.html"><img src="images/shenqing.jpg" /></a></li>-->
<!--                </ul>-->
<!--            </div>-->
<!--             <div class="bft_f_2">-->
<!--            	<ul>-->
<!--                	<li><span>三门峡市区</span></li>-->
<!--                    <li>高薪招聘广告业务员</li>-->
<!--                    <li>200元/天</li>-->
<!--                    <li>熟练操作电脑，熟悉网络</li>-->
<!--                    <li><a href="zzy.html"><img src="images/shenqing.jpg" /></a></li>-->
<!--                </ul>-->
<!--            </div>-->
<!--            <div class="bft_f_2">-->
<!--            	<ul>-->
<!--                	<li><span>灵宝市区</span></li>-->
<!--                    <li>移动互联网销售代表</li>-->
<!--                    <li>40元/小时</li>-->
<!--                    <li>安装机柜内网络配线架和110配线架</li>-->
<!--                    <li><a href="zzy.html"><img src="images/shenqing.jpg" /></a></li>-->
<!--                </ul>-->
<!--            </div>-->
<!--            <div class="bft_f_2">-->
<!--            	<ul>-->
<!--                	<li><span>西站</span></li>-->
<!--                    <li>八达企业管理顾问有限公司招聘业务员</li>-->
<!--                    <li>150元/天</li>-->
<!--                    <li>安装电话和网络模块</li>-->
<!--                    <li><a href="zzy.html"><img src="images/shenqing.jpg" /></a></li>-->
<!--                </ul>-->
<!--            </div>-->
<!--            <div class="bft_f_2">-->
<!--            	<ul>-->
<!--                	<li><span>卢氏</span></li>-->
<!--                    <li>弱电工人</li>-->
<!--                    <li>120元/天</li>-->
<!--                    <li>新装修办公楼内桥架管内敷设线路</li>-->
<!--                    <li><a href="zzy.html"><img src="images/shenqing.jpg" /></a></li>-->
<!--                </ul>-->
<!--            </div>-->
<!--            <div class="bft_f_2">-->
<!--            	<ul>-->
<!--                	<li><span>渑池</span></li>-->
<!--                    <li>电脑维修工程师电脑技术员</li>-->
<!--                    <li>200元/天</li>-->
<!--                    <li>熟练操作电脑，熟悉网络</li>-->
<!--                    <li><a href="zzy.html"><img src="images/shenqing.jpg" /></a></li>-->
<!--                </ul>-->
<!--            </div>-->
<!--            <div class="bft_f_2">-->
<!--            	<ul>-->
<!--                	<li><span>义马</span></li>-->
<!--                    <li>兼职专业苹果电脑系统维护</li>-->
<!--                    <li>50/小时</li>-->
<!--                    <li>安装机柜内网络配线架和110配线架</li>-->
<!--                    <li><a href="zzy.html"><img src="images/shenqing.jpg" /></a></li>-->
<!--                </ul>-->
<!--            </div>-->
            <div class="bft_f_3">
            	<ul>
                	<li>第<span th:text="${allPartTimeJobsPageInfo.pageNum}"></span>页</li>
                    <li><a th:href="@{'/PartTimeJob/fetchAllPartTimeJob/'+'1'+'?pagePartTimeJobSearchInfo='+${session.partTimeJobSearchInfo}}">首页</a></li>

<!--                    <li><a th:href="@{'/PartTimeJob/fetchAllPartTimeJob/'+-->
<!--                    ${allPartTimeJobsPageInfo.hasPreviousPage  ? allPartTimeJobsPageInfo.prePage:1}-->
<!--                    +'/'+${session.partTimeJobSearchInfo} } ">上一页</a> </li>-->
<!--                    <li><a th:href="@{'/PartTimeJob/fetchAllPartTimeJob/'+-->
<!--                    ${allPartTimeJobsPageInfo.hasNextPage  ? allPartTimeJobsPageInfo.nextPage:allPartTimeJobsPageInfo.pages }-->
<!--                    +'/'+${session.partTimeJobSearchInfo} }">下一页</a> </li>-->
                    <li><a th:href="@{'/PartTimeJob/fetchAllPartTimeJob/'+
                    ${allPartTimeJobsPageInfo.hasPreviousPage  ? allPartTimeJobsPageInfo.prePage:1}
                    +'?pagePartTimeJobSearchInfo='+${session.partTimeJobSearchInfo} } ">上一页</a> </li>
                    <li><a th:href="@{'/PartTimeJob/fetchAllPartTimeJob/'+
                    ${allPartTimeJobsPageInfo.hasNextPage  ? allPartTimeJobsPageInfo.nextPage:allPartTimeJobsPageInfo.pages }
                    +'?pagePartTimeJobSearchInfo='+${session.partTimeJobSearchInfo} }">下一页</a> </li>
<!--                    <li><a th:href="@{'/PartTimeJob/fetchAllPartTimeJob/'+${allPartTimeJobsPageInfo.pages}+'/'+${session.partTimeJobSearchInfo}    }">尾页</a></li>-->
                    <li><a th:href="@{'/PartTimeJob/fetchAllPartTimeJob/'+${allPartTimeJobsPageInfo.pages}+'?pagePartTimeJobSearchInfo='+${session.partTimeJobSearchInfo}    }">尾页</a></li>
                    <li><span th:text="'总'+${allPartTimeJobsPageInfo.pages}+'页' "></span></li>
                </ul>
            </div>
          </div>
          <!--   -->


          <!-- 友情链接开始 -->
    <div class="blank"></div>
    <div th:replace="~{commons/common::friendLink}">
    </div>
    <!-- 友情链接结束 -->

    <!-- 底部内容开始 -->
    <div class="blank"></div>
    <div class="blank"></div>
    <div th:replace="~{commons/common::bottom}">
		<!-- 底部内容结束 -->
    	</div>
        <div class="submenu"></div>
    	<!-- 搜索内容结束 -->

    </div>
	<!-- 帮众结束 -->





</div>
<!-- 内容结束 -->

<!-- alpha div -->
<div id="maskLayer" style="display:none;">
<iframe id="maskLayer_iframe" frameBorder=0 scrolling=no style="filter:alpha(opacity=50)"></iframe>
<div id="alphadiv" style="filter:alpha(opacity=50);-moz-opacity:0.5;opacity:0.5"></div>
	<div id="drag">
		<h3 id="drag_h"></h3>
		<div id="drag_con"></div><!-- drag_con end -->
	</div>
</div><!-- maskLayer end -->
</div>
<!-- alpha div end -->

</body>
</html>
