<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>帮帮网 — 事务信息</title>
    <link th:href="@{/css/select2.css}" rel="stylesheet"/>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <script type="text/javascript" th:src="@{/js/jquery-1.7.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/search/area.js}"></script>
    <script type="text/javascript" th:src="@{/js/search/location.js}"></script>
    <script type="text/javascript" th:src="@{/js/search/select2.js}"></script>
    <script type="text/javascript" th:src="@{/js/search/select2_locale_zh-CN.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.touchSlider.js}"></script>
    <script type="text/javascript" th:src="@{/js/js.js}"></script>
    <script type="text/javascript" th:src="@{/js/ks-switch.pack.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery-3.6.0.js}"></script>

    <script type="text/javascript" th:inline="javascript">
        function fetchLSpecificKind () {
            $.post(
                {
                    // url:"[[@{//}]]",
                    url: '/LocalInformation/comSelectLocalInformationKind',

                    data: {"lKind": $("#lKind").val()},
                    success: function (data) {
                        let html = "";
                        console.log(data)
                        for (let i = 0; i < data.length; i++) {
                            html += "<option value=" +"'" +data[i]+"'" + ">" + data[i] + "</option>"
                        }
                        $("#lSpecificKind").html(html);
                    }
                }
            )
        }

    </script>

</head>

<body class="bft_bg">
<!-- top内容开始 -->
<div th:replace="~{commons/common::top}" ></div>
<!-- top内容结束 -->

<div class="center_blank"></div>
<!-- 内容开始 -->
<div class="nr">
    <div class="zzy_nr">
        <div class="zzy"><p style="float: left" th:text="${session.get('currentName')}"></p><p style="float: right;margin-right: 50px;margin-top: 20px"><a th:href="@{'/toComAddLocalInformationList/'+${session.currentComId}}" th:text="'返回'"
                                                                                                                                                           style="font: bold 11px Arial;text-decoration: none;background-color: #EEEEEE;color: #333333;padding: 2px 6px 2px 6px;border-top: 1px solid #CCCCCC;border-right: 1px solid #333333;border-bottom: 1px solid #333333;border-left: 1px solid #CCCCCC;" ></a></p></div>
        <div class="zzy_1">
            <ul>
                <!--                <li><span th:text="'☆'+${partTimeJob.get('pSubmitTime')}+'更新'"></span>&nbsp;</li>-->
                <!--                <li><span th:text="'¤'+${partTimeJob.get('pBrowseNum')}+'人浏览'"></span>&nbsp;</li>-->
                <!--                <li><span th:text="'♥'+${partTimeJob.get('pAppointmentNum')}+'人预约'"></span>&nbsp;</li>-->
            </ul>
        </div>
        <div class="zzy_2">
            <form th:action="@{'/LocalInformation/comAddLocalInformation/'+${session.currentComId}}">
                <table width="600" border="1" cellspacing="1" cellpadding="1">
                    <tr>
                        <td><span>信息名：</span> <input style="border-radius: 18px;border: 1px solid gray;outline: none" type="text" name="lName"/> </td>
                    </tr>
                    <tr>
                        <td><span>信息种类：</span>
                            <select style="border-radius: 18px;border: 1px solid gray;outline: none" class="form-control" id="lKind" name="lKind" onchange="fetchLSpecificKind()">
                                <option value="0" selected>请选择</option>
                                <option value="1">吃</option>
                            <option value="2">穿</option>
                            <option value="3">住</option>
                            <option value="4">行</option>
                            <option value="5">娱乐</option>
                        </select></td>
                    </tr>
<!--                    <tr>-->
<!--                        <td><span>信息具体种类：</span><select style="border-radius: 18px;border: 1px solid gray;outline: none" class="form-control" name="lSpecificKind">-->
<!--                            <option value="'火锅类'">火锅类</option>-->
<!--                            <option value="'特色菜系'">特色菜系</option>-->
<!--                            <option value="'大众美食'">大众美食</option>-->
<!--                            <option value="'风味小吃'">风味小吃</option>-->
<!--                            <option value="'春装'">春装</option>-->
<!--                            <option value="'夏装'">夏装</option>-->
<!--                            <option value="'秋装'">秋装</option>-->
<!--                            <option value="'冬装'">冬装</option>-->
<!--                            <option value="'房屋'">房屋</option>-->
<!--                            <option value="'建材'">建材</option>-->
<!--                            <option value="'骑行'">骑行</option>-->
<!--                            <option value="'自驾'">自驾</option>-->
<!--                            <option value="'景点'">景点</option>-->
<!--                            <option value="'嗨歌'">嗨歌</option>-->
<!--                            <option value="'运动'">运动</option>-->
<!--                        </select></td>-->
<!--                    </tr>-->
                    <tr>
                        <td><span>信息具体种类：</span>
                            <select style="border-radius: 18px;border: 1px solid gray;outline: none" class="form-control" id="lSpecificKind" name="lSpecificKind">

                        </select></td>
                    </tr>
                    <tr>
                        <td><span>信息联系方式：</span><input min="0" style="border-radius: 18px;border: 1px solid gray;outline: none" type="number" name="lPhoneNumber"/></td>
                    </tr>
                    <tr>
                        <td><span>信息联系人：</span><input  style="border-radius: 18px;border: 1px solid gray;outline: none" type="text" name="lContactPerson"/></td>
                    </tr>
                    <tr>
                        <td><button style="color: #0066cc;width: 100px;height: 50px;border-radius: 18px" type="submit">提交</button></td>

                    </tr>
                </table>

            </form>
        </div>
        <p th:if="${addMsg}" th:text="${addMsg}" style="color: red"></p>

        <!--        <div style="background: #0066cc;margin-left: 25%;margin-right: 25%; width: 35%; height: 0%; float: right"><p>123</p></div>-->


    </div>
    <!-- 内容结束 -->
    <!-- 友情链接开始 -->
    <div class="blank"></div>
    <div th:replace="~{commons/common::friendLink}">
    </div>
    <!-- 友情链接结束 -->

    <!-- 底部内容开始 -->
    <div class="blank"></div>
    <div class="blank"></div>
    <div th:replace="~{commons/common::bottom}">
        <!-- 底部内容结束 -->
    </div>
    <div class="submenu"></div>
    <!-- 搜索内容结束 -->

</div>
<!-- 帮众结束 -->


<!-- alpha div -->
<div id="maskLayer" style="display:none;">
    <iframe id="maskLayer_iframe" frameBorder=0 scrolling=no style="filter:alpha(opacity=50)"></iframe>
    <div id="alphadiv" style="filter:alpha(opacity=50);-moz-opacity:0.5;opacity:0.5"></div>
    <div id="drag">
        <h3 id="drag_h"></h3>
        <div id="drag_con"></div><!-- drag_con end -->
    </div>
</div><!-- maskLayer end -->
</div>
<!-- alpha div end -->

</body>
</html>